@import 'ext/solarized-light';

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: "KoPubWorld Dotum Light", sans-serif;
    line-height: 1.4em;
    tab-size: 4;
    color: #777;
    background-color: #f0f0f5;
    padding: 0px 10px 0px 10px;
}